node_modules/
coverage/
reports/
.idea/

.env
.env.scaleway
*.tfstate
*.tfstate.*
*.tfplan
*.tfvars
*.tfvars.json
!*.tfvars.example
.terraform/
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
repos/
